body {
    background: #f1f1f1;
  }
 
  /* Giving our navbar some padding and a background color */
.navbar {
    padding: 10px;
    background: teal;
    color:bisque;
  }

.navbar-brand {
    font-weight: bold;
    background-color: teal;
    color: red;
    font-size: 18pt;
    font-family: serif;
    padding: 10px;
  }
    
.navbar-ul {
  list-style-type: none;
  font: black;
}
.navbar-li {
        float: right;
        /* display: inline;
        padding: 20px;
        font: black;
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 3px; */
        
      }
  
a {
  font-family: serif;

}
  
  h4 {
    font-size: 36pt;
    color: teal;
    font-family: serif;
    font-weight: bold 
    
  }

  h2 {
      font-size: 36pt;
      color: teal;
      font-family: serif;
      font-weight: bold 

  }

  p {
      color: blue;
  }
  img {
    height: 100%;
    width: 100%;
  }
  
  

  }